# Application
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=hsmart_saas
DATABASE_URL=postgres://hsmart:strongpassword@localhost:5432/hsmart_saas?sslmode=disable

# JWT
JWT_SECRET=supersecret
